<!DOCTYPE html>
<html>
<head>
	<title><?=Config::get('site_name')?></title>
	<link rel="stylesheet" href="/webroot/css/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
  <style type="text/css">
    .main {
	height: 1000px;
}
  </style>
<body>
<div class="starter-template">
    <?php if (isset($data['writer'][0]['writer'])) {
	echo $data['writer'][0]['writer'];
	}  else {
	null;
	} ?>
	
</div>

<?php foreach($data['writer'] as $data) {?>
    <div style="margin-top: 0px;">
	    <a href="/books/view/<?=$data['alias']?>"><?=$data['title']?></a>
	</div>
	
<?php } ?>
</body>
</html>