<h3>Add category</h3></br>
<div class="admin">
<ol class="breadcrumb">
    
    <?php print_r (App::getRouter()->getParams());?>
</ol>
<div class="admin_left" >
            
                
                    <ul class="tt nav nav-pills nav-stacked">
                        <li><a href="/admin/books/">Список книг</a></li>
                        
						<li><a href="/admin/books/writer/">Добавить автора</a></li>
                        <li><a href="/admin/books/add/">Добавить книгу</a></li>
						<li><a href="/admin/books/category/">Добавить жанр</a></li>
                        <li><a href="/admin/books/sells">Список проданных товаров</a></li>
						<li><a href="/admin/books/commentary">Комментарии</a></li>
                    </ul>
</li>
</div>

<div class="admin_right" >

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID:</th>
            <th>Name:</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($data['writers'] as $w) : ?>
		
            <tr>
                <td><?= $w['id_writer']?></td>
                <td><?= $w['writer']?></td>
                <td align="right">
                    <a href="/admin/books/deletewriter/<?= $w['id_writer']?>" onclick="return confirmDelete();">
                        <button class="btn btn-sm btn-warning">delete</button>
                    </a>
                </td>
            </tr>
        <?php endforeach; ?>
        <tbody>
    </table>
</div>

<form method="post" action="" autocomplete="off">
  
	<div class="form-group">
	    <label for="title">Title</label>
		<input type="text" id="id_writer" name="writer" value="" class="form-control" />
    </div>
	
	
	<input type="submit" class="btn btn-success" />
</form>
</div>
</div>